<html>
<head>
  <title>Sci-fi</title>
  <link href ="{{url_for('static', filename='css/bootstrap.min.css') }}" rel
  ="stylesheet" />
  <style>
    body{
      padding-top: 50px;
      }
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar=header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-control="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Sci-Fi</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/">Home</a></li>
        <li><a href="/home/movies/">Movies</a></li>
        <li><a href="/home/tv/">TV</a></li>
        <li><a href="/home/games/">Games</a><li>
      </ul>
      </div>
    </div>
  </nav>

{% block content %}

  <div class="container">
        <h1> Sci-Fi </h1>
        <h2> Some Info </h2>
        <p class="lead"> This web app will show various forms of Sci-fi in video
        games, film, TV and books</p>
        
        <p>

        <h2>TV</h2>
        <a href="/home/tv/"><img src="/static/img/tv.jpg" class="img-rounded"
        alt="Cinque Terre" width="304" height="235"></a>

        <P>

        <h2>Film</h2>
        <a href="/home/movies/"><img src="/static/img/film.jpg" class="img-rounded"
        alt="Cinque Terre" width="304" height="235"></a>

        <p>
        
        <h2>Games</h2>
        <a href="/home/games/"><img src="/static/img/game.jpg" class="img-rounded"
        alt="Cinque Terre" width="304" height="235"></a>

      </div>

 {% endblock %}

      <scipt src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="{{url_for('static',
      filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
